<main class="mt-5 mb-5  bg-light">
  <div class="container">
    <h2 class="text-center pt-5 fw-bold mb-4" style="color: #5C748C;">Wishlist<span class="text-danger">.</span></h2>
    <div class="row g-3">
      <div class="row g-4">
        <div class="col-6 col-md-4">
          <div class="wishlist-item card p-3 h-100 d-flex flex-column">
            <div class="overflow-hidden" style="height: 300px;">
              <img src="assets/images/wood/ArtistWoodenLamp-1.webp" alt="Wishlist Item 2"
                class="w-100 h-100 rounded-4" style="object-fit: cover;">
            </div>
            <div class="mt-3 flex-grow-1"> <!-- هذا الجزء يأخذ المساحة المتبقية -->
              <h6 style="color: #5C748C;" class="fs-5">Wishlist Item 1</h6>
              <p class="text-body-tertiary">Color: Blue</p>
              <p class="text-body-tertiary">Price: $10.00</p>
              <i class="wishlist-heart fs-4 bi bi-heart-fill"></i>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="wishlist-item card p-3 h-100 d-flex flex-column">
            <div class="overflow-hidden" style="height: 300px;">
              <img src="assets/images/crochet/Handmade-Crochet-Market-Bag-2688-1.jpg" alt="Wishlist Item 2"
                class="w-100 h-100 rounded-4" style="object-fit: cover;">
            </div>
            <div class="mt-3 flex-grow-1">
              <h6 style="color: #5C748C;" class="fs-5">Wishlist Item 1</h6>
              <p class="text-body-tertiary">Color: Blue</p>
              <p class="text-body-tertiary">Price: $10.00</p>
              <i class="wishlist-heart fs-4 bi bi-heart-fill"></i>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="wishlist-item card p-3 h-100 d-flex flex-column">
            <div class="overflow-hidden" style="height: 300px;">
              <img src="assets/images/accesserios/81jB2p-++UL._AC_UF894,1000_QL80_.jpg" alt="Wishlist Item 2"
                class="w-100 h-100 rounded-4" style="object-fit: cover;">
            </div>
            <div class="mt-3 flex-grow-1"> <!-- هذا الجزء يأخذ المساحة المتبقية -->
              <h6 style="color: #5C748C;" class="fs-5">Wishlist Item 1</h6>
              <p class="text-body-tertiary">Color: Blue</p>
              <p class="text-body-tertiary">Price: $10.00</p>
              <i class="wishlist-heart fs-4 bi bi-heart-fill"></i>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4">
          <div class="wishlist-item card p-3 h-100 d-flex flex-column">
            <div class="overflow-hidden" style="height: 300px;">
              <img src="assets/images/accesserios/Native-Inspired-Teardrop-Shaped-Seed-Beaded-Hoop-Metal-Feather-Charm-Dangle-Earrings-Womens-Fashion-Handmade-Jewelry-Boho-Accessories_3471dafd-79a4-4767-9481-613700a30030.7f30102f9b1646b62c05a6ed25a8217c.avif" alt="Wishlist Item 2"
                class="w-100 h-100 rounded-4" style="object-fit: cover;">
            </div>
            <div class="mt-3 flex-grow-1">
              <h6 style="color: #5C748C;" class="fs-5">Wishlist Item 1</h6>
              <p class="text-body-tertiary">Color: Blue</p>
              <p class="text-body-tertiary">Price: $10.00</p>
              <i class="wishlist-heart fs-4 bi bi-heart-fill"></i>
            </div>
          </div>
        </div>

      </div>



    </div>
</div>
</main>
