@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

body{
  font-family: "Inter", sans-serif;
  background-color: #F9F5F2;
}

/* nav{
    background-color: #7495A1;
} */



.pad{
    padding-left: 20px;
    padding-right: 20px;
}


@media(min-width:768px){
    .pad{
        padding-left: 115px;
        padding-right: 115px;
    }

}

.hero-section {

    position: relative;
    background-image: url('/assets/images/home1.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content:end;
  }

  .overlay-box {
    background-color: #e7dfd5;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .btn-explore {
    background-color: #7495A1;
    color: white;
    border: none;
  }

  .btn-explore:hover {
    background-color: #5b858a;
  }

h1 , h3 , h4 , i{
    color: #003459;
}

.main-butt{
    background: #7495A1;
}

.sliderr-vh{
    height: 45vh;
  }

.carousel-caption{
    background-color:rgba(0, 0, 0, 0.514);
  }

  .sec-butt{
    background-color: silver;
  }

  .subscribe{
    background-color:  #E7DCD1;
  }

  input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .sub-butt{
    background-color: #003459;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .sub-img{
    background-color: #7495A1;
  }

  .rev-card{
    background-color: #7495A1;
  }

  .rev-cap{
  font-size: 15px;
  }
  .rev-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }




  .loon{
    color: rgb(70, 67, 67);
  }
