<section class="my-5 container pt-5">
      <h1 class="fw-bold">HandiQ</h1>
      <p class="text-secondary text-capitalize my-3">
        Where creativity meets sustainability: handcrafted, up cycled <br />
        treasures empowering women.
      </p>
      <button class="main-butt rounded p-2 border-0 text-white">
        About Us
      </button>
    </section>


<div class="pad">
    <div class="hero-section text-center rounded">
        <div class="overlay-box text-start">
          <small class="text-muted">New Arrival</small>
          <h2 class="fw-bold mt-2" style="color: #5b8ca2;">Discover Our<br>Sustainable Collection</h2>
          <p class="text-muted">"Unique handmade creations with a sustainable touch .. find your next favorite piece."</p>
          <button class="btn btn-explore px-4 mt-2">EXPLORE</button>
        </div>
      </div>
    </div>

    <section class="container mt-5 pt-5">
      <h3 class="fw-bold mb-5">Explore By Category</h3>

      <div class="row g-2">
        <div class="col-lg-4 col-md-6">
          <div>
            <img src="assets/images/home1.jpg" height="230px" class="w-100 imgexplore rounded mb-3" alt="" />
            <h5 class="text-secondary">Croshet & Knitting</h5>
            <p class="text-dark">
              “Handcrafted with expert stitches using soft yarns for durable, cozy products.”
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div>
            <img src="assets/images/section3.jpg"   class="w-100 imgexplore rounded mb-3" alt="" />
            <h5 class="text-secondary">Leather Wallets & Bags</h5>
            <p class="text-dark">
              “Made from genuine leather, hand-cut and stitched for strength and style.”
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div>
            <img src="assets/images/slider1.jpg"   class="w-100 imgexplore rounded mb-3" alt="" />
            <h5 class="text-secondary">Wood Crafts</h5>
            <p class="text-dark">
              “Carved and finished by skilled hands, using quality wood for lasting pieces.”
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="container mt-md-5 pt-5 mb-3">
      <div class="row g-3">
        <div class="col-lg-6">
          <h3 class="fw-bold mb-4">Our Sustainability Program</h3>

          <div>
            <p>
              Trade in your old knitted or crocheted items and get a discount on
              our handmade, upcycled products. Instead of letting them go to
              waste, give them a second life while supporting ethical
              craftsmanship.
            </p>

            <p class="fw-bold mb-0">How It Works:</p>
            <p>
              Give Drop off your old knitted or crocheted items.
              <br />
              Get  Enjoy a discount on your next purchase.
            </p>

            <p class="fw-bold mb-3">Start your sustainable journey today!</p>
            <a href="" class="text-decoration-none">
            <button class="main-butt rounded p-2 border-0 text-white me-2">
              Give & Get
            </button>
        </a>

          </div>
        </div>

        <div class="col-lg-6">
          <div>
            <img src="assets/images/home4.jpg" class="w-100 rounded" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="container mt-md-5 pt-5">
      <h3 class="fw-bold mb-md-5 mb-3">Our Stories</h3>

      <div class="row g-3">
        <div class="col-md-6 p-2">
          <div>
            <img src="assets/images/home5.jpg" class="w-100 rounded" alt="" />
            <h5 class="text-secondary mt-3">Every Stitch</h5>
            <p>
              "I tell my story with needle and thread—every stitch is a dream
              coming true."
            </p>
          </div>
        </div>

        <div class="col-md-6 p-2">
          <div>
            <img src="assets/images/home6.jpg" class="w-100 rounded" alt="" />
            <h5 class="text-secondary mt-3">Determination and Passion</h5>
            <p>
              "Every piece I make tells a story of my determination and
              passion."
            </p>
          </div>
        </div>
      </div>
    </section>

   <section class="subscribe p-5">
      <div class="container d-flex justify-content-around">
        <div>
          <h2 class="fw-bold text-capitalize">
            subscribe so you <br />
            don`t miss our <br />
            programs!
          </h2>
          <p class="my-4">
            Join our crafting community for exclusive tips, deals & <br />
            inspiration. Plus SAVE 15% on your next order
          </p>

          <div class="d-flex input-group w-100">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            <input
              type="text"
              class="form-control w-50 p-3"
              placeholder="youremail123@gmail.com"
            />
            <button class="sub-butt p-3 text-white border-0">Subscribe</button>
          </div>
        </div>

        <div class=" rounded d-none d-lg-block">
          <img src="assets/images/home7.jpg" width="350px" height="350px" class="rounded-circle rounded" style="transform: rotatey(180deg) ;" alt="" />
        </div>
      </div>
    </section>
    <section class="mt-5 pt-5 pb-3 container">
      <h2 class="mb-4 fw-bold">Reviews</h2>
      <div class="row g-3">
        <div class="col-lg-4">
          <div class="rev-card rounded p-3">
            <p class="fw-medium mb-4 fs-5">"A terrific piece of praise"</p>
            <div class="d-flex align-items-center gap-4">
              <img src="assets/images/home8.jpg" class="rev-img" alt="" />

              <div>
                <p class="m-0 rev-cap fw-medium fs-6">Hala Elgohary</p>
                <p class="m-0 rev-cap">
                  "Exactly what I was looking for  looks even better in person."
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="rev-card rounded p-3">
            <p class="fw-medium mb-4 fs-5">"A genuily glowing review"</p>
            <div class="d-flex align-items-center gap-4">
              <img src="assets/images/home9.jpg" class="rev-img" alt="" />

              <div>
                <p class="m-0 rev-cap fw-medium fs-6">Sameh Mohamed</p>
                <p class="m-0 rev-cap">
                  "Good price for something handmade. I’d buy again."

                </p>
              </div>
            </div>
          </div>
        </div>

         <div class="col-lg-4">
          <div class="rev-card rounded p-3">
            <p class="fw-medium mb-4 fs-5">"A genuily glowing review"</p>
            <div class="d-flex align-items-center gap-4">
              <img src="assets/images/home10.jpg" class="rev-img" alt="" />

              <div>
                <p class="m-0 rev-cap fw-medium fs-6">Mgady Mohamed</p>
                <p class="m-0 rev-cap">
                  "Good price for something handmade. I’d buy again."

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
